.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 24px;
  border-radius: 50px;
}

.button + .button {
  margin-left: 10px;
}

.blackButton {
  color: #fff;
  background-color: #000;
}

.whiteButton {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.circleName {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.circleDesciption {
  line-height: 1.6;
  opacity: 0.8;
}

.mainContainer {
  --container-padding: 16px;
  display: flex;
  max-width: calc(var(--page-width) + var(--container-padding) * 2);
  margin: 48px auto;
  padding: 0 var(--container-padding);
}

.circleContent {
  flex-grow: 1;
}

.circleSide {
  width: 310px;
  min-width: 310px;
  margin-left: 36px;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  margin-bottom: 32px;
}

.heading {
  display: flex;
  align-items: center;
  margin: 32px 0 16px;
}

.heading:first-child {
  margin-top: 0;
}

.headingLabel {
  margin-right: 8px;
  font-size: 24px;
  font-weight: 600;
}

.linkList {
  padding-left: 24px;
}

.linkList li {
  list-style-type: disc;
  margin: 8px 0;
}

.linkList li a:hover {
  text-decoration: underline;
}
