.container {
  padding: 12px;
  background-color: #4daf50;
  color: white;
  margin-bottom: 8px;
  border-radius: 4px;
}

.date {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 600;
}

.text {
  font-size: 20px;
  font-weight: 600;
}